<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decimal-to-Binary</title>
</head>
<body>
    
    <div>
        <form action="/" method = "POST">
            Enter the Number
            <input type="text" name="dec"><br>
            <button type="submit" value="submit">Submit Now</button>
        </form>
       
        
    </div>
    <h1>{{empty_str}}</h1>

    
    <!-- <h1>{{empty_string}}</h1> -->
    
   
    
</body>
</html>