<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            border: 2px solid black;
            display: flex;
            justify-content: center;
    }
    </style>
</head>
<body>
    <form action="/add" method="post">
        Username<input type="text" name="username">
        
        <input type="submit" value="Submit">
    </form>
  
    <div class="container">
        <table>
            {% for student in example_text %}
    
       
            <tr>
                
                <th>Sno.</th>
                <th>Name:</th>
                
            </tr>
            <tr>
                
                <td>{{student[0]}}</td>
                <td>{{student[1]}}</td>
                
            </tr>
            {% endfor %}
        </table>
    </div>

   
</body>
</html>